:root {
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75 );
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --border-radius: 0px;
  --color-dark: #222;
  --color-dark-200: #333;
  --color-dark-300: #444;
  --color-dark-400: #666;
  --color-dark-500: #888;
  --color-dark-600: #999;
  --color-dark-700: #b5b5b5;
  --color-dark-800: #d5d5d5;
  --color-dark-900: #f1f1f1;
  --color-accent: #D8C3A3;
  --color-accent-200: #d9cab4;
  --color-accent-300: #dbd1c2;
  --color-accent-400: #02668a;
  --color-accent-500: #02668a;
  --color-accent-600: #02668a;
  --color-accent-700: #02668a;
  --color-accent-800: #02668a;
  --color-accent-900: #02668a;
  --color-light: #fff;
  --color-light-200: #efead8;
  --color-light-300: #efead8;
  --color-light-400: #efead8;
  --color-light-500: #efead8;
  --color-light-600: #efead8;
  --color-light-700: #aaa;
  --color-light-800: #efead8;
  --color-light-900: #efead8;
  --font-sans: "futura-pt", "Arial", sans-serif;
  --font-serif: "questa-grande", "Georgia", serif;
  --line-height: 1.5;
  --font-scale: 1.25;
  --font-size: 1.125rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, 75rem) [inner-end] minmax(32px, 1fr) [full-end];
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  font-weight: 400;
}

p {
  line-height: var(--line-height);
}

a {
  color: var(--color-dark);
  text-decoration: none;
  line-height: var(--line-height);
}
a:hover {
  color: var(--color-accent);
}

li {
  line-height: var(--line-height);
}

.button {
  background-color: transparent;
  color: var(--color-light);
  border: 0;
  padding: 0;
  font-size: var(--font-size-2);
  display: inline-block;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}
.button svg {
  opacity: 1;
}
.button:hover {
  background-color: transparent;
  color: var(--color-light);
}

.site-header {
  position: fixed;
  height: 160px;
  width: 100%;
  display: grid;
  padding: 0 var(--gap-xl);
  z-index: 999;
}
.site-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header__branding {
  display: block;
}

.menu {
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-l);
  position: relative;
}
.menu::before {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  max-width: 140px;
  width: 100%;
  background-color: var(--color-light);
  opacity: 0.34;
  margin: 0 var(--gap-xl) 0 0;
  right: 100%;
  top: 50%;
}
.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: var(--gap-l);
}
.menu__link {
  color: var(--color-light);
  font-size: var(--font-size-2);
}
.menu__button {
  background-color: transparent;
  color: var(--color-light);
  border: 0;
  padding: 0;
  font-size: var(--font-size-2);
  display: inline-block;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}
.menu__button svg {
  opacity: 1;
}
.menu__button:hover {
  background-color: transparent;
  color: var(--color-light);
}
.menu__item--current {
  font-weight: 600;
}

.hero {
  background-color: var(--color-light);
  height: 100vh;
  display: grid;
  padding: 32px;
  color: var(--color-light);
}
.hero__inner {
  background-color: #000;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: "header" "main" "footer";
  align-items: center;
  position: relative;
}
.hero__video {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
.hero__main {
  grid-area: main;
  padding: var(--gap-m) var(--gap-xl);
  position: relative;
}
.hero__footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--gap-m);
  position: relative;
}
.hero__content {
  max-width: 50rem;
  width: 100%;
}
.hero__prev-link {
  background-color: transparent;
  color: var(--color-light);
  border: 0;
  padding: 0;
  font-size: var(--font-size-2);
  display: inline-block;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: var(--gap-s);
  opacity: 0.54;
  font-family: var(--font-serif);
  font-size: var(--font-size-1);
}
.hero__prev-link svg {
  opacity: 1;
}
.hero__prev-link:hover {
  background-color: transparent;
  color: var(--color-light);
}
.hero__pagination {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
  flex: 1;
}
.hero__pagination::before {
  content: "";
  display: block;
  height: 1px;
  flex: 1;
  background-color: var(--color-light);
  opacity: 0.34;
  margin: 0 8vw;
}
.hero__social {
  position: absolute;
  right: var(--gap-m);
  top: 40%;
  transform: rotate(-90deg) translatex(50%);
  transform-origin: bottom right;
  display: flex;
  align-items: center;
}
.hero__social::before, .hero__social::after {
  content: "";
  display: block;
  height: 1px;
  width: 12vh;
  background-color: var(--color-light);
  opacity: 0.34;
  margin: 0 var(--gap-l);
}
.hero .counter__total:before {
  content: "/ ";
}

.destination__category {
  font-size: var(--font-size-2);
  margin-bottom: var(--gap-s);
  display: block;
  color: var(--color-light-700);
}
.destination__title {
  font-size: 5.25rem;
  margin: 0;
}
.destination__subtitle {
  font-size: var(--font-size-4);
  font-weight: 300;
  margin: 0;
  font-style: italic;
  color: var(--color-accent);
}
.destination__button {
  background-color: transparent;
  color: var(--color-light);
  border: 0;
  padding: 0;
  font-size: var(--font-size-2);
  display: inline-block;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: var(--gap-s);
  margin-top: var(--gap-xl);
}
.destination__button svg {
  opacity: 0.34;
}
.destination__button:hover {
  background-color: transparent;
  color: var(--color-light);
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}
.social__link {
  color: var(--color-light);
}

/*# sourceMappingURL=style.css.map */
